<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">
    <title>certs.labcd.mx</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <a href="http://media.mit.edu">
            <img src="static/img/talleres-logo.png" class="img-responsive" alt="Laboratorio para la Ciudad Passporte"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h3 class="heading font-bold">Project <br> Pasaport</h3>
          <p class="description font-light">
              Passport is a project developed by the Laboratorio para la Ciudad and the MIT Media Lab's Learning Initiative with the aim of certifying and recording citizen participation in the activities of LabCDMX through a secure, transparent, and verifiable system.
          </p>
          <h3 class="heading font-bold">Recently Issued</h3>
          <p class="font-light hash long-word"><a href="{{recents.urls[0]}}">{{recents.hashes[0]}}</a></p>
          <p class="font-light hash long-word"><a href="{{recents.urls[1]}}">{{recents.hashes[1]}}</a></p>
          <p class="font-light hash long-word"><a href="{{recents.urls[2]}}">{{recents.hashes[2]}}</a></p>                    
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h3 class="heading font-bold">FAQ</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is a digital certificate?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                 The certificate is a digital document that validates the partipation of a citizen in an activity run by the LabCDMX.<bg>

                 The certificate contains an encrytion of the relevant information of a citizen's participation in an event in a way that it can be digitally verified.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Why use digital certificates?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <h3>It's transparent:</h3>
                    The certificate has the ability to be verified without contact with the issuing institution, as the encryped information about the event and the participants is stored on the public domain. 
                    <br>
                    <h3>It's secure:</h3>
                    While the transaction is public, the content of the certificate and the personal information of the participants is cryptographically sealed.
                    <br>
                    <h3>It's easy:</h3>
                    Once a citizen has his or her LabCDMX Passport, it is easy to store, access, and share the record of their participation in lab activities.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I get a LabCDMX Passport?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    The first time a citizen attends a LabCDMX activity, he or she will recieve a LabCDMX Passport in the form of a physical ID card with their unique digital ID that contains their public and private keys.
                    <br>
                    This ID card is used to register the certificates the citizen collects.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I get digital certificates?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    Each time a citizen attends a LabCDMX activity, they have the sign up with their passport public key. Five days after the event, they will recieve their certificate by email and it will be automatically added to their LabCDMX Passport.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Who endorses the certificates?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    The certificates are issued by LabCDMX and are endorsed by the LabCDMX itself, as by the institutions and experts invited to participate in each event.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    How do the certificates work?
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    The certificate, sent to the participant’s email, is a digital document that contains in itself all the relevant information about the event, this is, it doesn’t have to be compared with any data base of the issuing institution, in this case of the LabCDMX.
                    <br>
                    The next things assure the validity of the certificate:<br>
                    1. Through encypting the certificate, an alphanumeric value is obtained. <br>
                    2. A digital transaction between the issuer of the certificate and the receiver contains the value obtained in the previous steep.<br>
                    3. This digital transaction is stored in public records, nevertheless this records do not contain private information of the participants.<br>
                    4. Once the participant have its certificate, it is encrypted and the alphanumeric value obtained should be the same that was previously registered in the transaction.
                </div>
              </div>
            </div>
          </div>


          <div class="row" id="footer-info">
            <div class="col-md-6 col-sm-8 col-xs-12">
              <h6 id="footer-start">Contact: <span class="font-light"><a href="mailto:certs@labcd.mx">certs@labcd.mx</a></span></h6>
                <h6><span class="no-wrap"><a href="http://labcd.mx">Laboratorio para la Ciudad</a></span></h6>
                <h6>In collaboration with the <br><a href="http://learn.media.mit.edu">MIT Media Lab Learning Initiative</a></h6>
            </div>
          </div>
        </div>
      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  </body>
</html>